In [ ]:
# Data cleaning imputations
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [5]:
import pandas as pd

#Creating a simple data

data ={
    'Age':[25,None,30,35,None,4.5],
    'Height':[5.5,6.1,5.9,None,5.8,5.2],
    'HelmetStstus':[1,None,1,0,1,1],
    'Gender':['M','F','M',None,'F','M'],
    'Experience':[2,4,6,1,None,None]
}

df=pd.DataFrame(data)
print("Original DataFrame with missing Values:")
print(df)

#Hndling missing values by replacing with  mean,median,mode
#Replacing missing values for numerical columns

df_filled_mean = df.copy()
df_filled_median = df.copy()
df_filled_mode = df.copy()

#Replacing missing values for mean numerical columns

df_filled_mean['Age'].fillna(df['Age'].mean(),inplace=True)
df_filled_mean['Height'].fillna(df['Height'].mean(),inplace=True)
df_filled_mean['Experience'].fillna(df['Experience'].mean(),inplace=True)

#Replacing missing values for median numerical columns

df_filled_median['Age'].fillna(df['Age'].median(),inplace=True)
df_filled_median['Height'].fillna(df['Height'].median(),inplace=True)
df_filled_median['Experience'].fillna(df['Experience'].median(),inplace=True)

#Replacing missing values for mode numerical columns

df_filled_mode['Age'].fillna(df['Age'].mode()[0],inplace=True)
df_filled_mode['Height'].fillna(df['Height'].mode()[0],inplace=True)


# Show the results for all imputations

print("\nDataFrame after filling missing values with mean:")
print(df_filled_mean)

print("\nDataFrame after filling missing values with median:")
print(df_filled_median)

print("\nDataFrame after filling missing values with mode:")
print(df_filled_mode)

Original DataFrame with missing Values:
    Age  Height  HelmetStstus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1   NaN     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     NaN           0.0   None         1.0
4   NaN     5.8           1.0      F         NaN
5   4.5     5.2           1.0      M         NaN

DataFrame after filling missing values with mean:
      Age  Height  HelmetStstus Gender  Experience
0  25.000     5.5           1.0      M        2.00
1  23.625     6.1           NaN      F        4.00
2  30.000     5.9           1.0      M        6.00
3  35.000     5.7           0.0   None        1.00
4  23.625     5.8           1.0      F        3.25
5   4.500     5.2           1.0      M        3.25

DataFrame after filling missing values with median:
    Age  Height  HelmetStstus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1  27.5     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     5.8           0.0   None         1.0
4  27.5     5.8           1.0      F         3.0
5   4.5     5.2           1.0      M         3.0

DataFrame after filling missing values with mode:
    Age  Height  HelmetStstus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1   4.5     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     5.2           0.0   None         1.0
4   4.5     5.8           1.0      F         NaN
5   4.5     5.2           1.0      M         NaN

<ipython-input-5-0f0a0d095b59>:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Age'].fillna(df['Age'].mean(),inplace=True)
<ipython-input-5-0f0a0d095b59>:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Height'].fillna(df['Height'].mean(),inplace=True)
<ipython-input-5-0f0a0d095b59>:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Experience'].fillna(df['Experience'].mean(),inplace=True)
<ipython-input-5-0f0a0d095b59>:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Age'].fillna(df['Age'].median(),inplace=True)
<ipython-input-5-0f0a0d095b59>:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Height'].fillna(df['Height'].median(),inplace=True)
<ipython-input-5-0f0a0d095b59>:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Experience'].fillna(df['Experience'].median(),inplace=True)
<ipython-input-5-0f0a0d095b59>:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mode['Age'].fillna(df['Age'].mode()[0],inplace=True)
<ipython-input-5-0f0a0d095b59>:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mode['Height'].fillna(df['Height'].mode()[0],inplace=True)

In [9]:
import pandas as pd

data={
    'Name':['Jhon','Alex','Rob','Eleven','Rob'],
    'Age':[23,12,22,45,22],
    'City':['New York','London','Paris','Tokyo','Paris']
}
df=pd.DataFrame(data)
print("Original Data:")
print(df)
#identify duplicate rows
duplicates = df[df.duplicated()]
print("\nIdentified Duplicates:")
print(duplicates)

df_cleaned = df.drop_duplicates()
print("\nDataFrame after removing duplicates:")
print(df_cleaned)

Original Data:
     Name  Age      City
0    Jhon   23  New York
1    Alex   12    London
2     Rob   22     Paris
3  Eleven   45     Tokyo
4     Rob   22     Paris

Identified Duplicates:
  Name  Age   City
4  Rob   22  Paris

DataFrame after removing duplicates:
     Name  Age      City
0    Jhon   23  New York
1    Alex   12    London
2     Rob   22     Paris
3  Eleven   45     Tokyo